<div id="<%= dom_id hotel_group %>">
  <p>
    <strong>Name:</strong>
    <%= hotel_group.name %>
  </p>
  <p>
    <strong>Hotels:</strong>
    <% hotel_group.hotels.each do |hotel| %>
      <%= link_to hotel.name, hotel_path(hotel) %>
    <% end %>
  </p>

</div>
