<div id="<%= dom_id hotel_group %>">
  <p>
    <strong>Name:</strong>
    <%= hotel_group.name %>
  </p>
  <p>
    <strong>Hotels:</strong>
    <% hotel_group.hotels.each do |hotel| %>
    <%= hotel.name %>
    <% end %>
  </p>

</div>
