<h1>Editing hotel group</h1>

<%= render "form", hotel_group: @hotel_group %>

<br>

<div>
  <%= link_to "Show this hotel group", @hotel_group %> |
  <%= link_to "Back to hotel groups", hotel_groups_path %>
</div>
